$color-btnadd: #41a58d;
$bg-form: #48d1c3;
$xs-screen-size: 575px;

.form {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 50px;
    border-radius: 18px;
    background-color: $bg-form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}
form .input-value {
    border: none;
    font-size: 18px;
    border-radius: 20px;
    color: #000;
    width: 90%;
    height: 30px;
    margin: 0.8rem;
}
form .form-label {
    text-align: justify;
    font-size: 18px;
    color: #fff;
}

// .container {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     border: none;
//     padding: 0;
// }
// form {
//     background: $bg-form;
//     padding: 40px 80px;
//     border-radius: 10px;
// }
// .form-label {
//     position: relative;
//     margin: 20px 0 40px;
// }
// .input-value {
//     background-color: #fff;
//     border: none;
//     border-radius: 20px;
//     color: #000;
//     margin-left: 10px;
//     font-size: 18px;
// }
// label {
//     text-align: center;
//     font-size: 18px;
//     color: #fff;
// }

button {
    margin-top: 25px;
    margin-left: 58%;
    width: 110px;
    background: $color-btnadd;
}

@media only screen and (max-width: $xs-screen-size) {
    button {
        margin-left: 66%;
    }
}
